body  {
  font-family: inherit;
  color: rgb(0,0,0)
  }
h1 {
          font-size: 5em;
          text-align: left;
}

p {
          width: 80%;
          margin: 10vh 10vw;
          font-size:1.5em;
          text-align: center;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
