body  {
  font-family: larsseit-medium,Arial,Verdana,sans-serif;

  }
h1 {
          font-size: 5em;
          text-align: left;
          color: #4c4c4c;
}

p {
          width: 40%;
          margin: 10vh 10vw;
          font-size:2em;
          vertical-align: top;
          text-align: right;
}
